* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_todo {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    height: 65vh;
    gap: 2vh;

    .lado_esquerdo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        height: 50vh;
        width: 50vh;
        border-radius: 50%;
    }

    .bloco {
        display: flex;
        margin-top: 1vh;
        background-color: rgb(255, 255, 255);
        height: 28vh;
        width: 14%;
    }

    .lado_direito {
        padding: 1%;
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 40%;
        margin-top: 20vh;
        padding-bottom: 7vh;
        justify-content: flex-end;
    }

    .lado_direito h1 {
        font-size: 100px;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }

    .lado_direito h2 {
        font-size: 40px;
        color: white;
        font-family: "Archivo Regular", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .lado_direito h3 {
        font-family: "Archivo Regular", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        color: white;
    }

    .lado_direito h1,
    h2,
    h3 {
        text-align: justify;
    }

    .separador_bloco_texto {
        display: flex;
        margin-top: 1%;
        flex-direction: row;
        gap: 2%;
    }
    
    .lado_direito h1,
    .lado_direito h2, 
    .lado_direito h3 {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

    @media (max-width: 1024px) {
    .fundo_todo {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }
    
    .lado_esquerdo {
        width: 80%;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .lado_direito {
        width: 80%;
        margin-top: 0;
        height: auto;
    }
    
    .lado_direito h1 {
        font-size: 60px;
    }
    
    .lado_direito h2 {
        font-size: 30px;
    }
    
    .lado_direito h3 {
        font-size: 24px;
    }

    .lado_esquerdo {
        display: none !important; // faz desaparecer um elemento a partir de uma propriedade @media específica, vou usar bastante! kkkkkkk
    }
}
}