* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fundo_todo1 {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    .texto_topo h1 {
        font-family: "Special Gothic Condensed One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8vh;
        color: rgb(0, 0, 0);
    }

    .swiper-container {
        width: 100vh;
        height: 20vh;
    }

    .swiper {
        padding-bottom: 8vh;
    }
    
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: grabbing;
    }
    
    .slide-item {
        width: 15vh;
        height: 15vh;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
        color: black;
    }

    .swiper-pagination-bullet {
        background: black;
    }
}